



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/postshow3.css">
</head>
<body style="font-family: 'Montserrat Alternates', sans-serif;">



        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">NAKLI WHATSAPP</a>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <% if(!currentUser){%>
                        <a class="nav-link" href="/login" style="display:inline-block;">PLEASE LOGIN!!<span class="sr-only">(current)</span></a>
                        <%}else{%>
                            <a class="nav-link" href="/user/<%=currentUser._id%>">View Your Profile<span class="sr-only">(current)</span></a>
                        <%}%>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">View All Posts<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/">Go Back<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                  <span class="navbar-text">
                    <% if(!currentUser){%>
                        <a class="nav-link" href="/login" style="display:inline-block;">LOGIN<span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="/register"style="display:inline-block;">SIGN UP<span class="sr-only">(current)</span></a>
                    <%}else{%>
                        <a class="nav-link" href="/logout" style="display:inline-block;">SIGN OUT<span class="sr-only">(current)</span></a>
                        <%}%>
                    
                </span>
                </div>
              </nav>	
            



<div class="container">
<div class="wrapper" style="    justify-content: center;">
    

      <div class="blog-item" style="flex: 0 0 88%;max-width: -webkit-fill-available;
      word-break: break-word;">
        <div class="blog-content">
            <h4><a><%=replies.author%></a></h4>
            <p><%= replies.text %></p>
            <a class="btn btn-red" href="/comment/<%= replies._id %>/update">Update Comment</a>
            <a class="btn btn-dark" href="/comment/delete/<%= replies._id %>">Delete Comment</a>
            <a class="btn btn-primary" href="/post/<%=replies.posts[0]%>">GO TO POST</a>
                                    
            <br>   
            <hr>     
            <br>   
            <hr>     
            <br>   
            <hr>     
   
              
               <div class="replyofcomment" style="padding-left:100px;">
               <% replies.childComments.forEach(function(replyoncomment){ %>
                <strong><%= replyoncomment.author %></strong>
                <span class="pull-right">1 day agoo</span>
                <p>
                    <%= replyoncomment.text%>  
                </p>
                <div class="text-right">
                <a class="btn btn-dark" href="/comment/<%= replyoncomment._id %>/reply">Reply</a>
            </div>
                <br>   
           <hr>     
                <% }) %>
                <hr><hr>
            </div>
                </div>
            </div>
        </div>
      </div>
    
      
    </div>
    </div>
      
    	
<!--===============================================================================================-->	
	<script src="/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="/js/main.js"></script>
    <!-- ===================================== -->
     

</body>
</html>