
<%- include ("../partials/header") %>
<h1 style="text-align:center">POST LIST</h1></div> 
<div  style="background-color:white;margin-top:25px;padding:20px;padding-left:50px;width:90%;margin-left:5%;">

<h3><a class="btn btn-primary"href="/register"><i class="fa fa-plus"></i>
    Create New User</a><hr><a class="btn btn-dark" href="/users">See all users</a>
    <hr><a class="btn btn-light" href="/comments">See all comments</a>
    </h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Post Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Author</th>
            <th>Edit/delete post</th>
            <th>View profile and posts</th>
        
        </tr>
    </thead>
    
    <tbody>

        <% posts.forEach(function(post){ %>
        <tr>
                
            <td><%=post.name%></td>
            <td><%=post.image%></td>
            <td><%=post.description%></td>
            <td><%=post.author%></td>
            <td>
                <a href="/post/<%=post._id%>/update"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/post/delete/<%=post._id%>" ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
               
            </td>
            <td>
                    <a class="btn btn-success" href="/post/<%= post._id %>">VIEW </a>
                      
            </td>  
        </tr>
        
 <% }); %>
    </tbody>
</table>

<%- include ("../partials/footer") %> 
