<%- include ("../partials/header") %>
<h1 style="text-align:center">EMPLOYEE LIST</h1></div> 

<div  style="background-color:white;margin-top:25px;padding:20px;padding-left:50px;width:90%;margin-left:5%;">

    <h3><a class="btn btn-primary"href="/employee"><i class="fa fa-plus"></i>
        Create New Employee</a><hr><a class="btn btn-dark" href="/posts">SEE ALL POSTS BY THESE EMPLOYEES</a>
        <hr><a class="btn btn-light" href="/comments">See all comments</a>
    
        </h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Edit/delete employee</th>
            <th>View profile and posts</th>
        
        </tr>
    </thead>
    
    <tbody>

        <% employees.forEach(function(employee){ %>
        <tr>
                
            <td><%=employee.fullName%></td>
            <td><%=employee.email%></td>
            <td><%=employee.mobile%></td>
            <td><%=employee.city%></td>
            <td>
                <a href="/employee/<%=employee._id%>/update"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/<%=employee._id%>" onclick="return confirm('Are you sure to delete this record?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
               
            </td>
            <td>
                    <a class="btn btn-success" href="/employee/<%= employee._id %>">VIEW</a>
                      
            </td>  
        </tr>
        
 <% }); %>
    </tbody>
</table>

<%- include ("../partials/footer") %> 
