<%- include ("../partials/header") %>
    <h1 style="text-align:center">NAKLI WHATSAPP</h1>
    </div>
   <div class="wra"> 
       <div class="f">
        <div class="c1">
            <table class="table table-striped col-md-3">
                <thead>
                    <tr>
                        <!-- <th>User Name/Email</th> -->

                    </tr>
                </thead>

                <tbody>

                    <% allUsers.forEach(function(alluser){ %>
                        <tr>
                            <!-- <td><%=user.username%></td> -->

                            <td class="tac">
                                <a class="listwale" href="/user/<%= alluser._id%>/chat ">
                                    <%=alluser.username%>
                                </a>

                            </td>
                        </tr>

                        <% }); %>
                </tbody>

            </table>
        </div>
        <div class="c2">

            <nav class="navbar sticky-top navbar-light bg-light">
                <a class="navbar-brand" href="#">Sticky tops</a>
                <h3>CHAT OF logged in user
                    <%=currentUser.username%> with
                        <%=user.username%>
                </h3>
            </nav>
            <form action="/user/<%=user._id%>/chat" method="POST" autocomplete="off">
                <div class="form-group">
                   
                    <input type="text" class="form-control" name="c[chat]" placeholder="Message..." style="border-radius:25px;">
                </div>
                <div class="form-group con-center" style="margin-left:90% ;">
                    <button type="submit" class="btn btn-dark " >SEND</button>
                    <!-- <a class="btn btn-secondary" href="/user/<%=user._id%>">
                        <i class="fa fa-list-alt"></i>Go back</a> -->
                </div>
            </form>

            <div style="display:flex;flex-direction:column;background-color:white;color:white">
                <% for (var j =0; j <i;  j++ ) { %>
                    <% if(seq[j]=='sent'){ %>
                        <div style="width:100%">
                            <div style="background-color:#52acc0;float:right;margin-right:40px;padding:20px;border-radius:5%;text-align:center; margin-top:40px;">
                                <%=currentUser.username%>:
                                    <br>
                                    <%=messagesy[j]%>
                            </div>
                        </div>
                        <% } else { %>
                            <div style="width:100%">
                                <div style="background-color:#5aba61;margin-left:40px;float:left;padding:20px;border-radius:5%;text-align:center;margin-top:40px;">
                                    <%=user.username%>:<br>
                                        <%=messagesy[j]%>
                                </div>
                            </div>

                            <% } %>


                                <% } %>


            </div>




        </div>

</div>
</div>
        <%- include ("../partials/footer") %>
    